---
import Posts from '../components/Posts.astro';
import Layout from '../layouts/Layout.astro';

const getPosts = async () => {
  const res = await fetch('https://jsonplaceholder.typicode.com/posts');
  const data = await res.json();
  return data;
};

const posts = await getPosts();
---

<Layout title='Blogger'>
  <main>
    <section class='max-w-screen-md mx-auto'>
      <Posts posts={posts} />
    </section>
  </main>
</Layout>
