---
import Posts from '../components/Posts.astro';
import Layout from '../layouts/Layout.astro';

const posts = [
  {
    id: 1,
    title: 'Hello World',
    slug: 'hello-world',
    date: '2021-01-01',
    content: 'This is my first post',
    author: 'John Doe',
  },
  {
    id: 2,
    title: 'Hello World 2',
    slug: 'hello-world-2',
    date: '2021-01-01',
    content:
      'lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.',
    author: 'John Doe',
  },
];
---

<Layout title='Blogger'>
  <main>
    <section class='max-w-screen-md mx-auto'>
      <Posts posts={posts} />
    </section>
  </main>
</Layout>
